## Importing Necessary Libraries:

In [1]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
import psycopg2

## Loading Environment Variables

In [2]:
# Load environment variables

load_dotenv()

True

## Setting Database Configuration:

In [3]:
# PostgreSQL database configuration

DATABASE = os.getenv('DATABASE')
USER_DB = os.getenv('USER_DB')
PASSWORD = os.getenv('PASSWORD')
HOST = os.getenv('HOST')
PORT = os.getenv('PORT')

## Connecting to PostgreSQL Database using psycopg2:

In [4]:
# Create connection object conn

conn = psycopg2.connect(
    database=DATABASE,
    user=USER_DB,
    password=PASSWORD,
    host=HOST,
    port=PORT
)

## Querying Data from Database using psycopg2:

In [5]:
#import data into pandas data frame

query_string = "SELECT * FROM eda.king_county_house_details JOIN eda.king_county_house_sales ON king_county_house_details.id = king_county_house_sales.house_id ;"
df_psycopg = pd.read_sql(query_string, conn)

/var/folders/99/p07pc0w96zb00mqvb254xrqc0000gn/T/ipykernel_39302/169428068.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_psycopg = pd.read_sql(query_string, conn)

In [6]:
conn.close()

## Exporting Data to CSV

In [8]:
df_psycopg.to_csv('data/eda.csv', index=False)

## Read Export file from data folder

In [9]:
df = pd.read_csv('data/eda.csv')

In [13]:
df.head(2)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price,house_id
0,1,3.0,1.00,1180.0,5650.0,1.0,NaN,0.0,3,7,...,1955,0.0,98178,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0,7129300520
1,2,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,7,...,1951,19910.0,98125,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0,6414100192

In [14]:
df.tail(2)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price,house_id
21595,21596,3.0,2.50,1600.0,2388.0,2.0,NaN,0.0,3,8,...,2004,0.0,98027,47.5345,-122.069,1410.0,1287.0,2015-01-16,400000.0,291310100
21596,21597,2.0,0.75,1020.0,1076.0,2.0,0.0,0.0,3,7,...,2008,0.0,98144,47.5941,-122.299,1020.0,1357.0,2014-10-15,325000.0,1523300157